{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="isu-submit">
  <form method="post" action="/" enctype="multipart/form-data">
    <div class="isu-form">
      <input type="file" name="file" value="file">
    </div>
    <div class="isu-form">
      <textarea name="body"></textarea>
    </div>
    <div class="form-submit">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <input type="submit" name="submit" value="submit">
    </div>
    {% if !flash.is_empty() %}
    <div id="notice-message" class="alert alert-danger">
      {{ flash }}
    </div>
    {% endif %}
  </form>
</div>

<div class="isu-posts">
  {% for p in posts %}
  {% call macros::post(p) %}
  {% endfor %}
</div>

<div id="isu-post-more">
  <button id="isu-post-more-btn">もっと見る</button>
  <img class="isu-loading-icon" src="/img/ajax-loader.gif">
</div>
{% endblock %}
